.idea
target

.env
!.env.sample
/bindings/ceylon/ceylon/ceylon/
/bindings/python/ceylon-workflow/honeybadger/honeybadger
/bindings/ceylon/tests/data/*
!/bindings/ceylon/tests/data/.no

*.ceylon_network
/bindings/ceylon/tests/tasks/ceylon-ai.2024-09-02.private-key.pem
*/dist